<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../Style/globalcss.css">
    <link rel="stylesheet" href="../Style/aboutUs.css">
</head>
<body>

    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <img src="../GAMBAR/LOGO.png" class="imglogo" alt="TIDUR">
        <div class="imglogoswapdiv">
            <img src="../GAMBAR/LOGOCOKLATKECIL.png" class="imglogoswap" alt="TIDUR">
        </div>
        <div class="home"><a href="../index.html">Home</a></div>
        <div class=""><a href="PRODUCTSPAGE.html">Products</a></div>
        <div class=""><a href="PURCHASE.html">Purchase</a></div>
        <div class=""><a href="ABOUTUS.html">About Us</a></div>
        <div class=""><a href="LOCATION.html">Location</a></div>
    </div>


    <div id="main">
        <button class="openbtn" onclick="openNav()">☰</button>
          <div class="kontenglobal">

            <div class="header">
                <div class="textheader">ABOUT US</div>
                <div class="gambarheader"><img src="../GAMBAR/ABOUTUS.png" alt=""></div>
            </div>
        
            <div class="konten">
                <div class="kotakgede">
                    <div class="kotakputih">
                        <div class="kotakkonten">
                            <div class="textdesc">
                            <div>2018: Early Success
                                In a small chocolate shop on Jakarta in Indonesia, 
                                Hubert and his partner produced  the first solid bar 
                                of chocolate in Cengkareng. It instantly became a success</div>
                            </div>
                        </div>
                    </div>
                    <div class="img">
                        <div><img src="../GAMBAR/HUBERT.png" alt=""  class="editimg"></div>
                    </div>
                </div>
        
                <div class="kotakgede">
                    
                    <div class="kotakputih2">
                        <div class="kotakkonten2">
                            <div class="textdesc">
                            <div>CHocs only uses the best quality ingredients for every customer, such as high-quality cocoa Belgian Chocolate, aromatic Mediterranean   Hazelnut, and the thick and rich milk.</div>
                            </div>  
                        </div>
                    </div>
                    <div class="img2">
                        <div><img src="../GAMBAR/COCOPOWDER.png" alt=""  class="editimg"></div>
                    </div>
                </div>
        
                <div class="kotakgede">
                    
                    <div class="kotakputih2">
                        <div class="kotakkonten3">
                            <div class="textdesc">
                            <div>2019: Pure EXCELLENCE
                                In 2019, yet another classic was created. 
                                CHocs introduced the extra thin 
                                Excellence dark chocolate bars with its 
                                intense and elegant flavors and fine texture.</div>
                            </div>
                        </div>
                    </div>
                    <div class="img3">
                        <div><img src="../GAMBAR/DARKCHOCOLATE.png" alt=""  class="editimg"></div>
                    </div>
                </div>
        
            </div>
        
        
            <div class="footer">
                <div class="kotakfooter">
                    <div class="CEO">
                        <div>Our CEO</div>
                        <div class="divceo">
                            <img src="../GAMBAR/HUBERT.png" class="gambarceo" alt="TIDUR">
                            <a href="https://www.instagram.com/hubertw_1/" class="namaceo"><div>Hubert Wijaya</div></a>
                        </div>
                    </div>
                    <div class="footerinfo">
                        <div class="judulfooter">CUSTOMER SERVICE</div>
                        <div class="isifooter">FAQ</div>
                        <div class="isifooter">CONTACT US</div>
                        <div class="isifooter">DELIVERY INFO</div>
                    </div>
                    <div class="footerinfo">
                        <div class="judulfooter">ABOUT CHOCS</div>
                        <div class="isifooter">ABOUT US</div>
                        <div class="isifooter">CAREER</div>
                        <div class="isifooter">DONATION</div>
                        <div class="isifooter">EVERYTHING CHOCOLATE</div>
                    </div>
                    <div class="footerinfo">
                        <div class="judulfooter">TERM</div>
                        <div class="isifooter">TERMS OF USE</div>
                        <div class="isifooter">PRIVACY</div>
                        <div class="isifooter">ACCESIBILITY</div>
                        <div class="isifooter">COOKIE NOTICE</div>
                    </div>
                    <div class="infofooter">
                        <div class="judulfooter">FOLLOW US</div>
                        <div class="kotakabout">
                            <img src="../GAMBAR/YouTube.png" class="gambarfooter" alt="TIDUR">
                            <img src="../GAMBAR/fb.png" class="gambarfooter" alt="TIDUR">
                            <img src="../GAMBAR/insta.png" class="gambarfooter" alt="TIDUR">
                            <img src="../GAMBAR/Twitter.png" class="gambarTwi" alt="TIDUR">
                        </div>
                    </div>
                </div>
                <div class="COPYRIGHT">© 2022, CHocs. All rights reserved.</div>
            </div>

          </div>
      </div>
    <script src="../Script/JAVA.js"></script>
</body>
</html>