<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location</title>
    <link rel="stylesheet" href="../Style/globalcss.css">
    <link rel="stylesheet" href="../Style/location.css">
</head>
<body>
    

    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <img src="../GAMBAR/LOGO.png" class="imglogo" alt="TIDUR">
        <div class="imglogoswapdiv">
            <img src="../GAMBAR/LOGOCOKLATKECIL.png" class="imglogoswap" alt="TIDUR">
        </div>
        <div class="home"><a href="../index.html">Home</a></div>
        <div class=""><a href="PRODUCTSPAGE.html">Products</a></div>
        <div class=""><a href="PURCHASE.html">Purchase</a></div>
        <div class=""><a href="ABOUTUS.html">About Us</a></div>
        <div class=""><a href="LOCATION.html">Location</a></div>
    </div>

    <div id="main">
        <button class="openbtn" onclick="openNav()">☰</button>
          <div class="kontenglobal">
            <div class="header">
                <div class="gambarheader"></div>
            </div>
        
            <div class="konten">
                <div class="ourlocation">Our Locations</div>
                 <div class="kotakgede">
                     <div class="kotaktext">
                        <div class="judul">CHocs Chocolate Shop - Jakarta</div>
                        <div class="isi">STORE</div>
                        <div class="isi">Pacific Century Place Tower Level 45 SCBD, Jl. Jenderal 
                            Sudirman No.53, RW.3, Senayan, Kec. Kby. Baru</div>
                        <div class="cont">(+62)878 - 8585 - 7690</div>
                        <div class="isi">Howard Liusansky</div>
                     </div>
                     <div class="kotakgambar">
                         <img src="../GAMBAR/JAKARTASHOP.jpg" class ="gambarlokasi"alt="">
                     </div>
                 </div>
                 <div class="kotakgede">
                    <div class="kotaktext">
                       <div class="judul">CHocs Chocolate Shop - Bandung</div>
                       <div class="isi">STORE</div>
                       <div class="isi">Jl. Diponegoro No.57, Cihaur Geulis, Kec. Cibeunying Kaler,
                        Kota Bandung, Jawa Barat 40122</div>
                       <div class="cont">(+62) 813 - 1566 - 0878</div>
                       <div class="isi">Perih Aresyanto</div>
                    </div>
                    <div class="kotakgambar">
                        <img src="../GAMBAR/BANDUNGSHOP.jpg" class ="gambarlokasi"alt="">
                    </div>
                </div>
                <div class="kotakgede">
                    <div class="kotaktext">
                       <div class="judul">CHocs Chocolate Shop - Sanur</div>
                       <div class="isi">STORE</div>
                       <div class="isi">Jl. Raya Legian, Kuta, Kec. Kuta, Kabupaten Badung, Bali 80361</div>
                       <div class="cont">(+62) 851 - 5529 - 0511</div>
                       <div class="isi">Zuckenberg Berig</div>
                    </div>
                    <div class="kotakgambar">
                        <img src="../GAMBAR/SANURSHOP.jpg" class ="gambarlokasi" alt="">
                    </div>
                </div>
                
            </div>
        
            <div class="footer">
                <div class="kotakfooter">
                    <div class="CEO">
                        <div>Our CEO</div>
                        <div class="divceo">
                            <img src="../GAMBAR/HUBERT.png" class="gambarceo" alt="TIDUR">
                            <a href="https://www.instagram.com/hubertw_1/" class="namaceo"><div >Hubert Wijaya</div></a>
                        </div>
                    </div>
                    <div class="footerinfo">
                        <div class="judulfooter">CUSTOMER SERVICE</div>
                        <div class="isifooter">FAQ</div>
                        <div class="isifooter">CONTACT US</div>
                        <div class="isifooter">DELIVERY INFO</div>
                    </div>
                    <div class="footerinfo">
                        <div class="judulfooter">ABOUT CHOCS</div>
                        <div class="isifooter">ABOUT US</div>
                        <div class="isifooter">CAREER</div>
                        <div class="isifooter">DONATION</div>
                        <div class="isifooter">EVERYTHING CHOCOLATE</div>
                    </div>
                    <div class="footerinfo">
                        <div class="judulfooter">TERM</div>
                        <div class="isifooter">TERMS OF USE</div>
                        <div class="isifooter">PRIVACY</div>
                        <div class="isifooter">ACCESIBILITY</div>
                        <div class="isifooter">COOKIE NOTICE</div>
                    </div>
                    <div class="infofooter">
                        <div class="judulfooter">FOLLOW US</div>
                        <div class="kotakabout">
                            <img src="../GAMBAR/YouTube.png" class="gambarfooter" alt="TIDUR">
                            <img src="../GAMBAR/fb.png" class="gambarfooter" alt="TIDUR">
                            <img src="../GAMBAR/insta.png" class="gambarfooter" alt="TIDUR">
                            <img src="../GAMBAR/Twitter.png" class="gambarTwi" alt="TIDUR">
                        </div>
                    </div>
                </div>
                <div class="COPYRIGHT">© 2022, CHocs. All rights reserved.</div>
            </div>
          </div>
      </div>
    

    <script src="../Script/JAVA.js"></script>
</body>
</html>