<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Page</title>
    <link rel="stylesheet" href="../Style/globalcss.css">
    <link rel="stylesheet" href="../Style/productspage.css">
</head>
<body>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <img src="../GAMBAR/LOGO.png" class="imglogo" alt="TIDUR">
        <div class="imglogoswapdiv">
            <img src="../GAMBAR/LOGOCOKLATKECIL.png" class="imglogoswap" alt="TIDUR">
        </div>
        <div class="home"><a href="../index.html">Home</a></div>
        <div class="produkheader"><a href="PRODUCTSPAGE.html">Products</a></div>
        <div class="purchaseheader"><a href="PURCHASE.html">Purchase</a></div>
        <div class="aboutusheader"><a href="ABOUTUS.html">About Us</a></div>
        <div class="locationheader"><a href="LOCATION.html">Location</a></div>
    </div>

    <div id="main">
        <button class="openbtn" onclick="openNav()">☰</button>
          <div class="kontenglobal">

            <div class="header">
                
                <div class="gambarheader"><img src="../GAMBAR/PRODUCT.png" alt=""></div>
                <div class="textheader">PRODUCT</div>
            </div>

            <div class="konten">
                <div class="KOTAKGEDE">
                    <div>CHOCOLATES</div>
                    <div class="KOTAKPRODUK">
                        <div class="produk">
                                <div class="gambar">
                                    <div class="kotakgmbr">
                                        <a href="./PURCHASE.html"> <img src="../GAMBAR/CHOCOLATE.jpg" class="gambarcoklat" alt=""> </a> 
                                    </div>
                                    <a href="./PURCHASE.html" class="styletextgambar"><div>CHocs Dark Chocolate</div></a>
                                    
                                    <div class="hargaproduk">
                                        <div>$4.00</div>
                                        <div class="hargacoret"></div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="kotakdesc">
                                        <div  class="styletext">Description:</div>
                                        <div  class="styletext">Delicate CHocs Dark Chocolate made with the finest ingredients and years of experience and passion. Make sure to store it in a cool, dry place to ensure quality.</div>
                                        <div class="harga">
                                            <div>$4.00</div>
                                            <div class="hargacoret"></div>
                                        </div>
                                    </div>
                                    
                                    <div class=tombol>
                                        <a href="./PURCHASE.html" class="styletextgambar"><div>BUY NOW</div></a>
                                    </div>
                                </div>
                        </div> 
                        <div class="produk">
                                <div class="gambar">
                                    <div class="kotakgmbr">
                                        <a href="./PURCHASE.html"><img src="../GAMBAR/WHITECHOCOLATEBAR.png" class="gambarcoklat" alt=""></a>
                                    </div>
                                    <a href="./PURCHASE.html" class="styletextgambar"><div>CHocs White Chocolate</div></a>
                                    <div class="hargaproduk">
                                        <div>$28.99</div>
                                        <div class="hargacoret">$40.00</div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="kotakdesc">
                                        <div class="styletext">Description:</div> 
                                        <div class="styletext">Creamy CHocs White Chocolate made with the finest ingredients and years of experience and passion. Make sure to store it in a cool, dry place to ensure quality.</div>
                                        <div class="harga">
                                            <div>$28.99</div>
                                            <div class="hargacoret">$40.00</div>
                                        </div>
                                    </div>
                                    
                                    <div class=tombol>
                                        <a href="./PURCHASE.html" class="styletextgambar"><div>BUY NOW</div></a>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
        
                <div class="KOTAKGEDE">
                    <div>CONFECTIONERY</div>
                    <div class="KOTAKPRODUK">
                        <div class="produk">
                                <div class="gambar">
                                    <div class="kotakgmbr">
                                        <a href="./PURCHASE.html"><img src="../GAMBAR/COOKIES.png" class="gambarcoklat" alt=""></a>
                                    </div>
                                    <a href="./PURCHASE.html" class="styletextgambar"><div>CHocs Cookies Chocolate</div></a>
                                    <div class="hargaproduk">
                                        <div>$4.00</div>
                                        <div class="hargacoret"></div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="kotakdesc">
                                        <div  class="styletext">Description:</div>
                                        <div  class="styletext">This cookie contains delicious high-quality chocolate made with the finest ingredients and years of experience and passion. Store in a cool and dry place.</div>
                                        <div class="harga">
                                            <div>$4.00</div>
                                            <div class="hargacoret"></div>
                                        </div>
                                    </div>
                                    
                                    <div class=tombol>
                                        <a href="./PURCHASE.html" class="styletextgambar"><div>BUY NOW</div></a>
                                    </div>
                                </div>
                        </div> 
                        <div class="produk">
                                <div class="gambar">
                                    <div class="kotakgmbr">
                                        <a href="./PURCHASE.html"><img src="../GAMBAR/PIE.png" class="gambarcoklat" alt=""></a>
                                    </div>
                                    <a href="./PURCHASE.html" class="styletextgambar"><div >CHocs Pecan Pie</div></a>
                                    <div class="hargaproduk">
                                        <div>$28.99</div>
                                        <div class="hargacoret">$40.00</div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="kotakdesc">
                                        <div class="styletext">Description:</div> 
                                        <div class="styletext">This pie contains with the finest pecan nuts mixed with a filling of eggs, 
                                            butter, and corn syrup.</div>
                                        <div class="harga">
                                            <div>$28.99</div>
                                            <div class="hargacoret">$40.00</div>
                                        </div>
                                    </div>
                                    <div class=tombol>
                                        <a href="./PURCHASE.html" class="styletextgambar"><div>BUY NOW</div></a>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
        
                <div class="KOTAKGEDE">
                    <div>CAKE</div>
                    <div class="KOTAKPRODUK">
                        <div class="produk">
                                <div class="gambar">
                                    <div class="kotakgmbr">
                                        <a href="./PURCHASE.html"><img src="../GAMBAR/CHOCOLATECAKE.png" class="gambarcoklat" alt=""></a>
                                    </div>
                                        <a href="./PURCHASE.html" class="styletextgambar"> <div>CHocs Chocolate Cake</div></a>
                                    <div class="hargaproduk">
                                        <div>$28.99</div>
                                        <div class="hargacoret">$40.00</div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="kotakdesc">
                                        <div class="styletext">Description:</div>
                                        <div class="styletext">This rich and delicious chocolate cake is magnificently moist thanks to the addition of the buttermilk and smooth, melted CHocs Dark Chocolate.</div>
                                        <div class="harga">
                                            <div>$28.99</div>
                                            <div class="hargacoret">$40.00</div>
                                        </div>
                                    </div>
                                    <div class=tombol>
                                        <a href="./PURCHASE.html" class="styletextgambar"><div>BUY NOW</div></a>
                                    </div>
                                </div>
                        </div>
                        <div class="produk">
                                <div class="gambar">
                                    <div class="kotakgmbr">
                                        <a href="./PURCHASE.html"><img src="../GAMBAR/STRAWBERRYCAKE.png" class="gambarcoklat" alt=""></a>
                                    </div>
                                    <a href="./PURCHASE.html" class="styletextgambar"><div>CHocs Strawberry Chocolate Cake</div></a>
                                    <div class="hargaproduk">
                                        <div>$28.99</div>
                                        <div class="hargacoret">$40.00</div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="kotakdesc">
                                        <div class="styletext">Description:</div> 
                                        <div class="styletext">This rich and delicious chocolate cake is magnificently moist thanks to the addition of the finest strawberry and smooth, melted CHocs Dark Chocolate.</div>
                                        <div class="harga">
                                            <div>$28.99</div>
                                            <div class="hargacoret">$40.00</div>
                                        </div>
                                    </div>
                                    <div class=tombol>
                                        <a href="./PURCHASE.html" class="styletextgambar"><div>BUY NOW</div></a>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="footer">
                <div class="kotakfooter">
                    <div class="CEO">
                        <div>Our CEO</div>
                        <div class="divceo">
                            <img src="../GAMBAR/HUBERT.png" class="gambarceo" alt="TIDUR">
                            <a href="https://www.instagram.com/hubertw_1/" class="namaceo"><div>Hubert Wijaya</div></a>
                        </div>
                    </div>
                    <div class="footerinfo">
                        <div class="judulfooter">CUSTOMER SERVICE</div>
                        <div class="isifooter">FAQ</div>
                        <div class="isifooter">CONTACT US</div>
                        <div class="isifooter">DELIVERY INFO</div>
                    </div>
                    <div class="footerinfo">
                        <div class="judulfooter">ABOUT CHOCS</div>
                        <div class="isifooter">ABOUT US</div>
                        <div class="isifooter">CAREER</div>
                        <div class="isifooter">DONATION</div>
                        <div class="isifooter">EVERYTHING CHOCOLATE</div>
                    </div>
                    <div class="footerinfo">
                        <div class="judulfooter">TERM</div>
                        <div class="isifooter">TERMS OF USE</div>
                        <div class="isifooter">PRIVACY</div>
                        <div class="isifooter">ACCESIBILITY</div>
                        <div class="isifooter">COOKIE NOTICE</div>
                    </div>
                    <div class="infofooter">
                        <div class="judulfooter">FOLLOW US</div>
                        <div class="kotakabout">
                            <img src="../GAMBAR/YouTube.png" class="gambarfooter" alt="TIDUR">
                            <img src="../GAMBAR/fb.png" class="gambarfooter" alt="TIDUR">
                            <img src="../GAMBAR/insta.png" class="gambarfooter" alt="TIDUR">
                            <img src="../GAMBAR/Twitter.png" class="gambarTwi" alt="TIDUR">
                        </div>
                    </div>
                </div>
                <div class="COPYRIGHT">© 2022, CHocs. All rights reserved.</div>
            </div>

          </div>
      </div>

      <script src="../Script/JAVA.js"></script>
</body>
</html>