<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PURCHASE PAGE</title>
    <link rel="stylesheet" href="../Style/globalcss.css">
    <link rel="stylesheet" href="../Style/purchase.css">
</head>
<body>
    
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <img src="../GAMBAR/LOGO.png" class="imglogo" alt="TIDUR">
        <div class="imglogoswapdiv">
            <img src="../GAMBAR/LOGOCOKLATKECIL.png" class="imglogoswap" alt="TIDUR">
        </div>
        <div class="home"><a href="../index.html">Home</a></div>
        <div class="produkheader"><a href="PRODUCTSPAGE.html">Products</a></div>
        <div class="purchaseheader"><a href="PURCHASE.html">Purchase</a></div>
        <div class="aboutusheader"><a href="ABOUTUS.html">About Us</a></div>
        <div class="locationheader"><a href="LOCATION.html">Location</a></div>
    </div>

    <div id="main">
        <button class="openbtn" onclick="openNav()">☰</button>
          <div class="kontenglobal">
            <div class="header">
                <div class="gambarheader"></div>
            </div>
            
            <div class="container">
                <form action="" method="POST">
                    <div class="title">
                        <div>REGISTRATION</div> 
                        <div>Please fill this form to order our product</div> 
                    </div>
        
                <div class="userdetail">
                    <div class="kotakkonten">
                        <label for="name_input">Name</label>
                        <input type="text" id="name_input" placeholder="Max 16 Character">
                    </div>
        
                    <div class="kotakkonten">
                        <label for="phone_input">Phone Number</label>
                        <input type="number" id="phone_input" placeholder="Input Phone Number">
                    </div>  

                    <div class="kotakkonten">
                        <label for="quantity_input">Quantity</label>
                        <input type="number" id="quantity_input" placeholder="Input Quantity(number)">
                    </div>

                    <div class="kotakkonten">
                        <label for="product_input">Product Choice</label>
                        <input type="text" id="product_input"placeholder=" Input Name of Product">
                    </div>

                    <div class="kotakkonten">
                        <label for="address_input">Address</label>
                        <input type="text" id="address_input" placeholder="Input Address ">
                    </div>

                    <div class="konten">
                        <label for="gendermale">Male</label>
                        <input type="radio" id="gendermale" name="gender">
                        <label for="genderfemale">Female</label>
                        <input type="radio" id="genderfemale" name="gender">
                    </div>
                    <div class="konten">
                        <input type="checkbox" id="checkbox_input">
                        <label for="">I agree to all terms and conditions</label>
                    </div>
                </div>
                
                
               
        
                <div class="kotakbtn">
                    <div class="button">
                        <input type="Submit" id="Submit">
                    </div>  
                </div>
        
                </form> 
            </div>

            <div class="footer">
                <div class="kotakfooter">
                    <div class="CEO">
                        <div>Our CEO</div>
                        <div class="divceo">
                            <img src="../GAMBAR/HUBERT.png" class="gambarceo" alt="TIDUR">
                            <a href="https://www.instagram.com/hubertw_1/" class="namaceo"><div>Hubert Wijaya</div></a>
                        </div>
                    </div>
                    <div class="footerinfo">
                        <div class="judulfooter">CUSTOMER SERVICE</div>
                        <div class="isifooter">FAQ</div>
                        <div class="isifooter">CONTACT US</div>
                        <div class="isifooter">DELIVERY INFO</div>
                    </div>
                    <div class="footerinfo">
                        <div class="judulfooter">ABOUT CHOCS</div>
                        <div class="isifooter">ABOUT US</div>
                        <div class="isifooter">CAREER</div>
                        <div class="isifooter">DONATION</div>
                        <div class="isifooter">EVERYTHING CHOCOLATE</div>
                    </div>
                    <div class="footerinfo">
                        <div class="judulfooter">TERM</div>
                        <div class="isifooter">TERMS OF USE</div>
                        <div class="isifooter">PRIVACY</div>
                        <div class="isifooter">ACCESIBILITY</div>
                        <div class="isifooter">COOKIE NOTICE</div>
                    </div>
                    <div class="infofooter">
                        <div class="judulfooter">FOLLOW US</div>
                        <div class="kotakabout">
                            <img src="../GAMBAR/YouTube.png" class="gambarfooter" alt="TIDUR">
                            <img src="../GAMBAR/fb.png" class="gambarfooter" alt="TIDUR">
                            <img src="../GAMBAR/insta.png" class="gambarfooter" alt="TIDUR">
                            <img src="../GAMBAR/Twitter.png" class="gambarTwi" alt="TIDUR">
                        </div>
                    </div>
                </div>
                <div class="COPYRIGHT">© 2022, CHocs. All rights reserved.</div>
            </div>

          </div>
      </div>
   

    <script src="../Script/JAVA.js"></script>
</body>
</html>