.aboutusheader{
    background-color: #4A756E;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.textheader{
    position: absolute;
    font-family: myFirstFont;
    text-decoration: none;
    color: #ffffff;
    font-size: 100px;
    text-align: center;
}

.gambarheader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 643px;
    width: auto;
  }

.konten{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
}
.kotakgede{
    display: flex;
    flex-direction: row;
    background-color: #FFF0E2;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100%;
    height: auto;
}


.kotakputih{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: left;
    /* position: relative; */
    width: 70%;
    height: 500px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 5%;
}

.kotakkonten{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: static;
    width: 100%;
    height: auto;
    position: relative;
    margin-left: 5%;
}
.textdesc{
    position: static;
    width: 50%;
    max-width: 50%;
    height: auto;
    font-size: 20px;
}
.img{
    width: auto;
    height: auto;
    margin-left: -15%;
}
.editimg{
    width: 450px;  
    height: auto;
    /* margin-left: 100px */
}
.img2{
    width: auto;
    height: auto;
    /* position: absolute; */
    margin-left: -80%;
}
.kotakkonten2{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.img3{
    width: auto;
    height: auto;
    /* position: absolute; */
    margin-left: -80%;
}
.kotakkonten3{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    /* position: relative; */
    /* margin-left: 0%; */
}

.kotakputih2{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: left;
    /* position: relative; */
    width: 70%;
    height: 500px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: -60%;
}

@media screen and (max-width: 768px) {
    .img{
        display: none;
    }
    .img2{
        display: none;
    }
    .img3{
        display: none;
    }
    .konten{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        height: auto;
        font-size: 20px;
    }
    .textdesc{
        width: 50%;
        max-width: 50%;
        height: auto;
    }
    .kotakkonten2{
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        margin-right: 10%;
    }
    .kotakkonten{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: static;
        width: 100%;
        height: auto;
        position: relative;
        margin-left: 25%;
    }
  }